/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 *
 * Theme edited by Nathaniel Schmucker
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #17222b;
$headingColor: #17222b;

$mainFontSize: 42px;
$mainFont: Helvetica, sans-serif;
$headingFont: Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #75aadb;
$linkColorHover: #accc39;
$selectionBackgroundColor: #517699;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #e3eef7;
	}
}

//.reveal .slides section {
//  text-align: left;  
//}
//
//.reveal .slides section > section {
//  text-align: left;
//}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.slide-background {
	background-image:url('../../img/OrangeOnBlue.png');
	background-size:cover;
}

.reveal blockquote {
	background: rgba(23, 34, 43, 0.05);
}