/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 *
 * Theme edited by Nathaniel Schmucker
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)

// My colors
$deepSaffronS3: #331e0a;
$deepSaffronS2: #663d14;
$deepSaffronS1: #b26b23;
$deepSaffron:   #ff9933;
$deepSaffronT1: #ffc184;
$deepSaffronT2: #ffead6;

$icebergS3: #17222b;
$icebergS2: #2e4457;
$icebergS1: #517699;
$iceberg:   #75aadb;
$icebergT1: #accce9;
$icebergT2: #e3eef7;

// Background of the presentation (changed to image below)
$backgroundColor: $icebergT2;

// Primary/body text
$mainFont: Helvetica, sans-serif;
$mainColor: $icebergS3;

// Headings
$headingFont: Helvetica, sans-serif;
$headingColor: $icebergS3;
$headingTextTransform: none;
$headingFontWeight: 600;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Code font
$codeFont: 'Lucida Consolas', monospace;

// Links and actions
$linkColor: $iceberg;
$linkColorHover: $icebergS1;

//Text selection
$selectionBackgroundColor: $icebergT1;
$selectionColor: $mainColor;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: $icebergT2;
	}
}

@mixin bodyBackground() {
	background-image: url('../../img/OrangeOnBlue.png');
	background-size: cover;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// Overwrite items loaded in "../template/theme"

.reveal blockquote {
	background: rgba(23, 34, 43, 0.05);
}

// Create a 'title' class to format title pages

.title {
	text-align: left;
	color: $deepSaffron;
}

.title ::selection {
	color: $deepSaffron;
}

.title ::-moz-selection {
	color: $deepSaffron;
}

.title h1,
.title h2,
.title h3, {
	font-family: $codeFont;
	color: $deepSaffronS2;
}

.title h4,
.title h5,
.title h6, {
	color: $deepSaffronS2;
}

.title h1::selection {
	color: $deepSaffronS2;
}

.title h1::-moz-selection {
	color: $deepSaffronS2;
}

.title h2::selection {
	color: $deepSaffronS2;
}

.title h2::-moz-selection {
	color: $deepSaffronS2;
}

.title h3::selection {
	color: $deepSaffronS2;
}

.title h3::-moz-selection {
	color: $deepSaffronS2;
}

.title h4::selection {
	color: $deepSaffronS2;
}

.title h4::-moz-selection {
	color: $deepSaffronS2;
}

.title h5::selection {
	color: $deepSaffronS2;
}

.title h5::-moz-selection {
	color: $deepSaffronS2;
}

.title h6::selection {
	color: $deepSaffronS2;
}

.title h6::-moz-selection {
	color: $deepSaffronS2;
}